/* styling for login block */
a {
  color: #eeeeee;
  font-family: "Merriweather", serif;
  text-decoration: none;
}
#loginCard {
  font-family: "Merriweather", serif;
  width: 400px;
  height: 400px;
  display: block;
  float: right;
  padding: 16px;
  margin-right: 150px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 #eeeeee;
  background-color: #222831;
  opacity: 0.9;
}

#email,
#password {
  width: 375px;
  height: 30px;
  border-radius: 10px;
  border-color: #393e46;
  font-size: 20px;
  font-family: "Merriweather", serif;
  color: #222831;
  margin: 20px 7.5px 10px 7.5px;
}
#email {
  margin-top: 50px;
}
#headerLoginBlock {
  align-content: center;
  font-family: "Merriweather", serif;
  padding: 16px 0 16px 150px;
  background-color: #eeeeee;
  /* background: linear-gradient(to right , #0d7377 ,#14ffec); */
  margin: 0;
  color: #222831;

  height: 30px;
  border-radius: 30px 30px 0 0;
}
#loginButton {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border-color: #393e46;
  font-size: 20px;
  color: #eeeeee;
  font-family: "Merriweather", serif;
  /* background: linear-gradient(to right ,#14ffec , #0d7377); */
  background: linear-gradient(to left, #0d7377, #14ffec);
  /* background: #0d7377; */
  margin: 20px 100px 10px 100px;
  cursor: pointer;
}

#forgotPassword,
#registration {
  font-family: "Merriweather", serif;
  color: #eeeeee;
  font-size: 16px;
  margin: 8px 100px 8px 100px;
  cursor: pointer;
}
#loginButton:hover {
  box-shadow: 0 4px 8px 0 #eeeeee;
}

/* styling for welcome block */
#welcomeBlock {
  font-family: "Merriweather", serif;
  color: black;
  font-size: 20px;
  position: relative;
  display: block;
  left: 100px;
  top: 300px;
}
/* image block */
#imageContainer {
  width: 80%;
  margin: 3% 10% 0 10%;
  height: 750px;
  background-image: url("https://source.unsplash.com/1600x900/?health");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  box-shadow: 0 4px 16px 0 #393e46;
}

@media only screen and (max-width: 1430px) {
  /* #imageContainer{
                display: block;
        } */
  #welcomeBlock {
    text-align: center;
    margin: 10px 20% 0 20%;
    position: static;
    color: white;
  }
  #loginCard {
    margin: 0 20% 0 20%;
    float: none;
  }
}
/* about us block */
#aboutUsContainer {
  height: auto;
  width: auto;
  font-family: "Merriweather", serif;
  text-align: center;
  padding: 50px;
  border-radius: 30px;
  margin: 10% 20% 20% 20%;
  background-color: #222831;
  color: #eeeeee;
  box-shadow: 0 4px 8px 0 #393e46;
  /* opacity: 0.9; */
}
