.active {
  background-color: #4caf50;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

.container input[type="email"],
.container input[type="text"],
.container input[type="password"],
.container select,
.container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container .btn:hover {
  background-color: #45a049;
}

.container .btn {
  margin:10px 0px;
}

.container {
  float: left;
  width: 50%;
  border-radius: 5px;
  background-color: #cccccc;
  padding: 20px;
  margin-top: 40px;
}
.responsive {
  margin-top: 40px;
  border-radius: 1%;
  width: 50%;
  height: 425px;
}
#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

